<nav class="navbar navbar-expand-sm bg-light">
  <div class="navbar-nav">
    <a class="nav-link" routerLink="/">Routes</a>
    <a class="nav-link" routerLink="/teams">Teams</a>
    <a class="nav-link" routerLink="/players">Players</a>
    <a class="nav-link" routerLink="/results">Results</a>
    <a class="nav-link" routerLink="/tables">Tables</a>
    <a class="nav-link" routerLink="/stats">Stats</a>

    <a *ngIf="!authService.IsLoggedIn()" class="nav-link" routerLink="/login"
      >Login</a
    >

    <a *ngIf="authService.IsLoggedIn()" class="nav-link" routerLink="/admin"
      >Admin</a
    >
    <a
      *ngIf="authService.IsLoggedIn()"
      class="nav-link"
      routerLink="/login"
      (click)="logoutHandler()"
      >Logout</a
    >
    <p class="nav-link">{{ email }}</p>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <h2>Check</h2> -->
<!-- component here -->
