<nav class="navbar navbar-expand-sm bg-light">
  <div class="navbar-nav">
    <a class="nav-link" routerLink="/">Routes</a>
    <a class="nav-link" routerLink="/teams">Teams</a>
    <a class="nav-link" routerLink="/players">Players</a>
    <a class="nav-link" routerLink="/results">Results</a>
    <a class="nav-link" routerLink="/tables">Tables</a>
    <a class="nav-link" routerLink="/stats">Stats</a>

    <a *ngIf="!isLoggedin" class="nav-link" routerLink="/login">Login</a>

    <a *ngIf="isLoggedin" class="nav-link" routerLink="/admin">Admin</a>
    <a
      *ngIf="isLoggedin"
      class="nav-link"
      routerLink="/login"
      (click)="logoutHandler()"
      >Logout</a
    >
    <p class="nav-link">{{ email }}</p>
    <!-- @if(admin){
    <a class="nav-link" routerLink="/admin">Admin</a>
    <a class="nav-link" routerLink="/login" (click)="logoutHandler()">Logout</a>
    <p class="nav-link">{{ email }}</p>
    } @else {
    <a class="nav-link" routerLink="/login">Login</a>
    } -->
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <h2>Check</h2> -->
<!-- component here -->
