<h2>Players</h2>
<select
  class="form-select"
  name="team"
  id="team"
  (change)="selectTeamHandler($event)"
  [value]="team"
>
  <option value="">All</option>
  @for(team of teams; track team.id){
  <option>{{ team.name }}</option>
  }
</select>
<br />
<table class="table">
  <thead>
    <tr>
      <th>Team</th>
      <th>Name</th>
      <th>Age</th>
      <th>Matches</th>
    </tr>
  </thead>
  <tbody>
    @for(player of filterPlayers; track player.id) {
    <tr>
      <td>
        <img
          src="assets/logos/{{ player.teamName }}.png"
          alt="{{ player.teamName }}"
          id="team-img"
        />
        {{ player.teamName }}
      </td>
      <td>{{ player.name }}</td>
      <td>{{ player.age }}</td>
      <td>{{ player.matches }}</td>
    </tr>
    }
  </tbody>
</table>
