<h2>Divsion 1</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Pos</th>
      <th>Team</th>
      <th>Pd</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>Diff</th>
      <th>Pts</th>
    </tr>
  </thead>
  <tbody>
    @for(tab of table; track tab.teamPts){
    <tr>
      <td>{{ tab.teamPos }}</td>
      <td>{{ tab.teamName }}</td>
      <td>{{ tab.pd }}</td>
      <td>{{ tab.wins }}</td>
      <td>{{ tab.draws }}</td>
      <td>{{ tab.losses }}</td>
      <td>{{ tab.difference }}</td>
      <td>{{ tab.teamPts }}</td>
    </tr>
    }
  </tbody>
</table>
