<h2>Admin Results</h2>
<hr />

<label for="round">Round:</label>
<select
  class="form-select"
  name="round"
  id="round"
  (change)="selectRoundHandler($event)"
  [value]="round"
>
  <option value="1">1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
</select>

<hr />

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Round</th>
      <th>Team 1</th>
      <th></th>
      <th></th>
      <th>Team 2</th>
      <th>Divion & Round</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    @for(result of filterResults; track result.id){
    <tr>
      <td>{{ result.date | date : "dd MMMM YYYY" }}</td>
      <td>{{ result.round }}</td>
      <td>
        <img
          src="assets/logos/{{ result.team1 }}.png"
          alt="{{ result.team1 }}"
          id="team-img"
        />
        {{ result.team1 }}
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          id="score"
          [defaultValue]="result.team1Score"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          id="score"
          [defaultValue]="result.team2Score"
        />
      </td>
      <td>
        <img
          src="assets/logos/{{ result.team2 }}.png"
          alt="{{ result.team2 }}"
          id="team-img"
        />
        {{ result.team2 }}
      </td>
      <td>D{{ result.division }} Rd{{ result.round }}</td>
      <td><button class="btn btn-primary">Update</button></td>
      <td><button class="btn btn-primary">Delete</button></td>
    </tr>
    }
  </tbody>
</table>
