<h2>Routes</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Route</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Get teams</td>
      <td>/teams</td>
      <td>
        <a href="http://localhost:3000/teams">http://localhost:3000/teams</a>
      </td>
      <td>
        <button class="btn btn-primary">Get</button>
      </td>
    </tr>

    <tr>
      <td>Get players</td>
      <td>/players</td>
      <td>
        <a href="http://localhost:3000/players"
          >http://localhost:3000/players</a
        >
      </td>
      <td>
        <button class="btn btn-primary">Get</button>
      </td>
    </tr>

    <tr>
      <td>Get results</td>
      <td>/results</td>
      <td>
        <a href="http://localhost:3000/results"
          >http://localhost:3000/results</a
        >
      </td>
      <td>
        <button class="btn btn-primary">Get</button>
      </td>
    </tr>

    <tr>
      <td>Get results by division</td>
      <td>/results/1</td>
      <td>
        <a href="http://localhost:3000/results/1"
          >http://localhost:3000/results/1</a
        >
      </td>
      <td>
        <button class="btn btn-primary">Get</button>
      </td>
    </tr>
  </tbody>
</table>

<p>JSON Data</p>
<textarea id="textarea" class="form-control" rows="20" cols="100" readOnly v>
  {{ teams | json }}
</textarea>
